lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Coverage reports
coverage

# API keys and secrets
.env

# node
node_modules

# IDE
.idea
.vscode
*.iml

# misc
.DS_Store
Thumbs.db

# build
lib
!apps/sample/src/lib/

# turbo
.turbo

# eslint
.eslintcache
