# Setup JFrog registry
registry=https://jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public
//jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJtNXZGbElubDZzclEtd3dqWWpZSXdhRzZOWHJYYllmYkJlZ1hVNkE1VEhNIn0.eyJzdWIiOiJnaXRodWItb2lkYy9naGEtbGVkZ2VyaHEtZGV2aWNlLXNkay10cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvZ3JvdXBzOlwiZ2hhLWxlZGdlcmhxLWRldmljZS1zZGstdHNcIiIsImF1ZCI6IipAKiIsImlzcyI6ImpmYWNAMDFoemhxZGc2YzF0MDIwYXM2aHl5ZDF2M24iLCJleHAiOjE3MjU1MzU5NDYsImlhdCI6MTcyNTUyODc0NiwianRpIjoiNjc2MWI4NDktNjU3MC00OTdhLWI1ZDMtZjg2NTgzYmEzZDQzIn0.NOFDWTSSwZxm0UnX3mL09emDHWtmUex4LGNLPQ1nCr2MG8jh2UKw_v5F05f6x9rjnOpFlIgrFj13lcUZV80kynOEuq-TSaW-nnKjLGY1sALldsIBZc6FRWHdB_5cf69H5JzVXv9QsPHpWM5W9Dii5jbiIH3eszqmUjZzpPAT2nO3EYAKJ65MUmOI1PI4OmzocMa5cFuDflmo1psCT-3PCB3i-PvTL3RYTiuNFXzLT1btyxKGocwe-qkFUVdSUQ8NXcWwXcC3f85AzgTc5h35Vzgpe_fOu1AYe-jBqeTmT19KRvXQAhvDUDl4G-x3AzjrI24IvJQdvsDkFh9B8nYmXw
