# Setup JFrog registry
registry=https://jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public
//jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJtNXZGbElubDZzclEtd3dqWWpZSXdhRzZOWHJYYllmYkJlZ1hVNkE1VEhNIn0.eyJzdWIiOiJnaXRodWItb2lkYy9naGEtbGVkZ2VyaHEtZGV2aWNlLXNkay10cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvZ3JvdXBzOlwiZ2hhLWxlZGdlcmhxLWRldmljZS1zZGstdHNcIiIsImF1ZCI6IipAKiIsImlzcyI6ImpmYWNAMDFoemhxZGc2YzF0MDIwYXM2aHl5ZDF2M24iLCJleHAiOjE3MjU1MzY2NzcsImlhdCI6MTcyNTUyOTQ3NywianRpIjoiMDQxMGEwZGEtYTk1OC00NDI2LThjOTQtZGZhMjYyOTAzNGZiIn0.gcyLgU8gXuCaXTaCzbdj7iOKDI8ZrhZeZa-Cp7HVjzN7fmpr-iVidqWHdIOOgtMg84xork_oxe7jMAvVCCTEMizwPhrupunvXr8xL06wPp--QXITM840Z4Q16sy5PJw4Y4QWr8ge2vvvlSsdTymch39Oj02UcqEw-YziJorYNcLUHxxNyqLJ_i0DGEHe1tNO1DqDRr3sXjj19fbzCnmBYy9HgXqxsnoghXJFwVCtOqwuNNOV6wah7U4OwSkjt_B3xtL02ZHRBSEmWVEJDUCGbjV5_OU0cDhkhYHzzvQsokY0Tih--xc9ziZ09VkjIhrGhr4HWvkB6svvWGnEpACUCg
