# Setup JFrog registry
registry=https://jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public
//jfrog.ledgerlabs.net/artifactory/api/npm/ldk-npm-sandbox-public/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJtNXZGbElubDZzclEtd3dqWWpZSXdhRzZOWHJYYllmYkJlZ1hVNkE1VEhNIn0.eyJzdWIiOiJnaXRodWItb2lkYy9naGEtbGVkZ2VyaHEtZGV2aWNlLXNkay10cyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvZ3JvdXBzOlwiZ2hhLWxlZGdlcmhxLWRldmljZS1zZGstdHNcIiIsImF1ZCI6IipAKiIsImlzcyI6ImpmYWNAMDFoemhxZGc2YzF0MDIwYXM2aHl5ZDF2M24iLCJleHAiOjE3MjU1MzcxNDgsImlhdCI6MTcyNTUyOTk0OCwianRpIjoiOTQ3NmRhZTMtODI2NS00Nzg1LWI1MjMtNmQ5MjU4ODJkOTIxIn0.GxWQ3-5C2O_KRHg_2-VQdV-QX6i_-OQX0gDLXQaaJ5zz06tmXpzanlWwVYyVb_VF_x4Gf4ceTcy4-iQPIVyjYcwosk-1lGhwgQpkV5-2JjADH4Dppp75DC2IWOVhnzx5uupwRZ8xoTb3kx6NWwzl87IQJB8T-lFYe-fxM5BuQL27_d0mNg898qFwoVTKrhN4TKmS4k2U46UpFYkhyz6FqvV2TXMCa1h3rZTLnF6AhtgbW4qwVADR_hdZYsXozE1fPQknFFlp2WwITTsqb--65xNsy2Mq4gMqKGjd3HAdvhzK_qqvOX8J4Kap0kojHyQHLS76gdn7pxekf4Dj4noNEQ
