.main,
.searchMain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sub {
  flex-direction: column;
}

.searchMain {
  justify-content: space-around;
}

.search {
  flex-grow: 1;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

.button {
  padding: 5px;
  background-color: #f0c;
  color: white;
  border-color: #f0c;
  margin-left: 20px;
  border-radius: 5px;
}
