name: "[Checks] Merge Queue"
on:
  merge_group:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name != 'develop' && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-libraries:
    name: Build libraries
    runs-on: "ledgerhq-device-sdk"
    steps:
      - uses: actions/checkout@v5

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-build-cache-composite@develop

  health-check:
    name: Run health check
    needs: [build-libraries]
    runs-on: "ledgerhq-device-sdk"
    steps:
      - uses: actions/checkout@v5

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-build-cache-composite@develop

      - name: Health check
        id: health-check
        run: pnpm health-check

  tests:
    name: Run unit tests
    needs: [build-libraries]
    runs-on: "ledgerhq-device-sdk"
    steps:
      - uses: actions/checkout@v5

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-build-cache-composite@develop

      - name: Tests
        id: unit-tests
        run: pnpm test
