name: "[Checks] Pull Request"
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches-ignore:
      - main

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name != 'develop' && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  auto-assign:
    name: Auto assign
    runs-on: ubuntu-22.04
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.1

  danger:
    name: Run Danger check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-toolchain-composite@develop

      - name: Danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Workaround when using custom runners
          # https://github.com/danger/danger-js/issues/1374
          DANGER_GITHUB_API_BASE_URL: "https://api.github.com"
        run: pnpm danger:ci

  checks:
    name: Run health check and unit tests
    needs: [danger]
    runs-on: ${{ !github.event.pull_request.head.repo.fork && 'ledgerhq-device-sdk' || 'ubuntu-22.04' }}
    steps:
      - uses: actions/checkout@v4

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-toolchain-composite@develop

      - name: Health check
        id: health-check
        run: pnpm health-check

      - name: Tests
        id: unit-tests
        if: ${{ steps.health-check.conclusion == 'success' }}
        run: pnpm test:coverage -- --maxWorkers=50%

      - uses: sonarsource/sonarqube-scan-action@v4
        if: ${{ steps.unit-tests.conclusion == 'success' && github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
        env:
          SONAR_TOKEN: ${{ secrets.PUBLIC_GREEN_SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.PUBLIC_SONAR_HOST_URL }}
