name: "[Release] Publish Packages"
on:
  push:
    branches:
      - main

env:
  FORCE_COLOR: "1"
  NPM_REGISTRY: ${{ vars.NPM_REGISTRY }}

permissions:
  id-token: write
  contents: write
  pull-requests: write
  # Need to attest artifacts
  attestations: write

jobs:
  public-runner:
    name: Build and Attest Release Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-cache-composite@develop

      - name: Canonicalize package.json files
        uses: LedgerHQ/device-sdk-ts/.github/actions/canonicalize-package-json-composite@develop

      - name: Create dist directory to store tarball
        run: mkdir -p dist

      - name: Build libraries
        run: pnpm build:libs

      - name: Pack packages
        run: pnpm prerelease:public

      - name: Attest for npmjs.com
        uses: LedgerHQ/actions-security/actions/attest-for-npmsjs-com@attest-npm-dir-support
        with:
          subject-path: ./dist

      # The action currently doesn't support pushing the blob to the registry
      - name: Sign tarball
        uses: LedgerHQ/actions-security/actions/sign-blob@actions/sign-blob-1
        with:
          path: ./dist

      - name: Upload packages to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: npm-release-packages
          path: dist/*.tgz
          retention-days: 1
          if-no-files-found: error

      - name: Create tags
        run: echo "TODO Create tags"

      - name: Publish to Github Release
        run: echo "TODO Publish to Github Release"

  runner-ledger:
    name: Publish Release to JFrog
    environment: Production
    needs: public-runner
    runs-on: ledgerhq-device-sdk
    steps:
      - uses: actions/checkout@v5

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-cache-composite@develop

      - name: Download packages from GitHub Artifacts
        uses: actions/download-artifact@v4
        with:
          name: npm-release-packages
          path: dist

      - name: Login to internal JFrog registry
        id: jfrog-login
        uses: LedgerHQ/actions-security/actions/jfrog-login@actions/jfrog-login-1

      - name: Setup npm config for JFrog
        env:
          NPM_REGISTRY_TOKEN: ${{ steps.jfrog-login.outputs.oidc-token }}
        run: |
          cat << EOF | tee .npmrc
          enable-pre-post-scripts=true
          registry=https://${NPM_REGISTRY}/
          //${NPM_REGISTRY}/:_authToken=${NPM_REGISTRY_TOKEN}
          EOF

      - name: Publish release packages to JFrog using pnpm
        run: |
          # Publish all downloaded tarballs to JFrog
          cd dist
          shopt -s nullglob
          for tarball in *.tgz; do
            pnpm publish "$tarball" --registry https://${NPM_REGISTRY}/ --no-git-checks || echo "⚠️ Failed to publish $tarball"
          done
