name: "[Release] Snapshot Release"
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      ref:
        description: The base branch to publish a snapshot release from
        required: false
        default: "develop"
      tag:
        description: Snapshot version name
        required: false
        default: "develop"

env:
  FORCE_COLOR: "1"
  REF: ${{ inputs.ref || 'develop' }}
  TAG: ${{ inputs.tag || 'develop' }}
  NPM_REGISTRY: ${{ vars.NPM_REGISTRY }}

permissions:
  id-token: write
  contents: write
  pull-requests: write
  # Need to attest artifacts
  attestations: write

jobs:
  public-runner:
    name: Build and Attest Snapshot Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ env.REF }}

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-cache-composite@develop

      - name: Bump version
        run: pnpm bump --snapshot ${{ env.TAG }}

      - name: Build libraries
        run: pnpm build:libs

      - name: Prepare dist directory
        run: pnpm ldmk-tool pack

      - name: Attest for npmjs.com
        uses: LedgerHQ/actions-security/actions/attest-for-npmsjs-com@attest-npm-dir-support
        with:
          subject-path: ./dist

      # The action currently doesn't support pushing the blob to the registry
      - name: Sign tarball
        uses: LedgerHQ/actions-security/actions/sign-blob@actions/sign-blob-1
        with:
          path: ./dist

      - name: Upload packages to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: npm-snapshot-packages
          path: dist/*.tgz
          retention-days: 7
          if-no-files-found: error

  runner-ledger:
    name: Publish Snapshot to JFrog
    needs: public-runner
    runs-on: ledgerhq-device-sdk
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ env.REF }}

      - uses: LedgerHQ/device-sdk-ts/.github/actions/setup-with-cache-composite@develop

      - name: Download packages from GitHub Artifacts
        uses: actions/download-artifact@v4
        with:
          name: npm-snapshot-packages
          path: dist

      - name: Login to internal JFrog registry
        id: jfrog-login
        uses: LedgerHQ/actions-security/actions/jfrog-login@actions/jfrog-login-1

      - name: Setup npm config for JFrog
        env:
          NPM_REGISTRY_TOKEN: ${{ steps.jfrog-login.outputs.oidc-token }}
        run: |
          cat << EOF | tee .npmrc
          enable-pre-post-scripts=true
          registry=https://${NPM_REGISTRY}/
          //${NPM_REGISTRY}/:_authToken=${NPM_REGISTRY_TOKEN}
          EOF

      - name: Publish snapshot packages to JFrog using pnpm
        run: |
          cd dist
          shopt -s nullglob
          for tarball in *.tgz; do
            pnpm publish "$tarball" --registry https://${NPM_REGISTRY}/ --tag ${{ env.TAG }} --no-git-checks || echo "⚠️ Failed to publish $tarball"
          done
